.footer {
    height: 161px;
    background: $primary-color;
    box-shadow: 0px -3px 6px #00000026;
    opacity: 1;
}

.footer__container{
    width: 63%;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
}
.footer__text {
    color: $tertiary-color;
    letter-spacing: 0.32px;
    line-height: 33px;
}

/////
@media screen and (min-width: 769px) {


    .footer {
        height: 58px;
        margin-top: 157px;
    }
    .footer__container{
        width: 63%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

